In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('laliga.csv')

In [3]:
df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
0,1995-96,2/9/1995,La Coruna,Valencia,3,0,H,2.0,0.0,H
1,1995-96,2/9/1995,Sp Gijon,Albacete,3,0,H,3.0,0.0,H
2,1995-96,3/9/1995,Ath Bilbao,Santander,4,0,H,2.0,0.0,H
3,1995-96,3/9/1995,Ath Madrid,Sociedad,4,1,H,1.0,1.0,D
4,1995-96,3/9/1995,Celta,Compostela,0,1,A,0.0,0.0,D
...,...,...,...,...,...,...,...,...,...,...
10039,2020-21,22/05/2021,Osasuna,Sociedad,0,1,A,0.0,0.0,D
10040,2020-21,22/05/2021,Real Madrid,Villarreal,2,1,H,0.0,1.0,A
10041,2020-21,22/05/2021,Valladolid,Ath Madrid,1,2,A,1.0,0.0,H
10042,2020-21,23/05/2021,Granada,Getafe,0,0,D,0.0,0.0,D
10043,2020-21,23/05/2021,Sevilla,Alaves,1,0,H,0.0,0.0,D

In [7]:
l = []
l.append(df['HomeTeam'].unique())

In [8]:
l

[array(['La Coruna', 'Sp Gijon', 'Ath Bilbao', 'Ath Madrid', 'Celta',
        'Espanol', 'Merida', 'Sevilla', 'Valladolid', 'Vallecano',
        'Zaragoza', 'Albacete', 'Barcelona', 'Betis', 'Real Madrid',
        'Compostela', 'Oviedo', 'Salamanca', 'Santander', 'Sociedad',
        'Tenerife', 'Valencia', 'Hercules', 'Logrones', 'Extremadura',
        'Mallorca', 'Alaves', 'Villareal', 'Malaga', 'Numancia',
        'Las Palmas', 'Osasuna', 'Villarreal', 'Recreativo', 'Murcia',
        'Getafe', 'Levante', 'Cadiz', 'Gimnastic', 'Almeria', 'Xerez',
        'Granada', 'Elche', 'Eibar', 'Cordoba', 'Leganes', 'Girona',
        'Huesca'], dtype=object)]

In [13]:
df.isna().sum()

Season      0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
dtype: int64

In [12]:
df = df.dropna()

In [14]:
df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
0,1995-96,2/9/1995,La Coruna,Valencia,3,0,H,2.0,0.0,H
1,1995-96,2/9/1995,Sp Gijon,Albacete,3,0,H,3.0,0.0,H
2,1995-96,3/9/1995,Ath Bilbao,Santander,4,0,H,2.0,0.0,H
3,1995-96,3/9/1995,Ath Madrid,Sociedad,4,1,H,1.0,1.0,D
4,1995-96,3/9/1995,Celta,Compostela,0,1,A,0.0,0.0,D
...,...,...,...,...,...,...,...,...,...,...
10039,2020-21,22/05/2021,Osasuna,Sociedad,0,1,A,0.0,0.0,D
10040,2020-21,22/05/2021,Real Madrid,Villarreal,2,1,H,0.0,1.0,A
10041,2020-21,22/05/2021,Valladolid,Ath Madrid,1,2,A,1.0,0.0,H
10042,2020-21,23/05/2021,Granada,Getafe,0,0,D,0.0,0.0,D
10043,2020-21,23/05/2021,Sevilla,Alaves,1,0,H,0.0,0.0,D

In [15]:
df['Season'] = df['Season'].str.replace('-',' ')

<ipython-input-15-49c5bb9df351>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Season'] = df['Season'].str.replace('-',' ')

In [16]:
df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
0,1995 96,2/9/1995,La Coruna,Valencia,3,0,H,2.0,0.0,H
1,1995 96,2/9/1995,Sp Gijon,Albacete,3,0,H,3.0,0.0,H
2,1995 96,3/9/1995,Ath Bilbao,Santander,4,0,H,2.0,0.0,H
3,1995 96,3/9/1995,Ath Madrid,Sociedad,4,1,H,1.0,1.0,D
4,1995 96,3/9/1995,Celta,Compostela,0,1,A,0.0,0.0,D
...,...,...,...,...,...,...,...,...,...,...
10039,2020 21,22/05/2021,Osasuna,Sociedad,0,1,A,0.0,0.0,D
10040,2020 21,22/05/2021,Real Madrid,Villarreal,2,1,H,0.0,1.0,A
10041,2020 21,22/05/2021,Valladolid,Ath Madrid,1,2,A,1.0,0.0,H
10042,2020 21,23/05/2021,Granada,Getafe,0,0,D,0.0,0.0,D
10043,2020 21,23/05/2021,Sevilla,Alaves,1,0,H,0.0,0.0,D